/**/

html,body {
  background: salmon;
  height: 100%;
}

.out {
  border: solid 1px black;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: rgb(193, 224, 236);
}

#disp1{
    font-size: x-large;
}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▷";
  color: rgb(235, 66, 235);
}
